$color-1: #07234b;
$color-2: #4292c7;
$color-3: #e0ecfb;

.teamContainer {
    background-color: $color-3;
    display: flex;
    flex-direction: column;
    // align-items: center;
}

.teamCardsContainer {
    display: flex;
    flex-direction: column;
    width: 90%; // Limite la largeur pour les petits écrans
    max-width: 800px;
    margin: 0 auto;
}

.teamContainer > h1 {
    font-size: 55px;
    text-align: center;
    margin: 40px;
}

.imgProfile {
    width: 300px;
    border-radius: 50%;
    align-self: center;
}

.lancelot,
.lokman {
    display: flex;
    flex-direction: column; // Réorganisation verticale
    align-items: center; // Centre les enfants horizontalement
    margin: 40px 0;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    background-color: $color-3;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
        -7px -7px 20px rgb(255, 255, 255),
        inset 0px 0px 4px rgba(255, 255, 255, 0.2),
        inset 7px 7px 15px rgba(55, 84, 170, 0),
        inset -7px -7px 20px rgba(255, 255, 255, 0),
        0px 0px 4px rgba(255, 255, 255, 0);
    transition: all 0.3s ease-in-out;
}

.text {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.text h3 {
    text-align: center;
    margin-bottom: 20px;
}

.text p {
    display: none; // Par défaut, le texte est caché
}

.text p.visible {
    display: block; // Affiche le texte lorsque la classe "visible" est ajoutée
    max-height: 1000px;
}

button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    background-color: $color-2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darken($color-2, 10%);
}

@media (max-width: 750px) {
    .imgProfile {
        width: 200px; // Réduit la taille de l'image sur mobile
    }
    .teamCardsContainer {
        align-items: center;
    }

    .lancelot,
    .lokman {
        width: 80%;
        height: 100%;
    }
}
